<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/forgot-password.css">
    <!-- 這裡添加你的<head>區塊 -->
    <title>忘記密碼</title>
  </head>
  <body class="d-flex align-items-center justify-content-center flex-column">
    <!-- 新增回上一頁按鈕 -->
    <a href="/login" class="btn btn-secondary btn-square">回上一頁</a>
    <h1 class="mb-4">忘記密碼</h1>
    <form action="/forgot-password" method="POST" class="mb-3 px-5 py-5" onsubmit="return validateForm()">
      <div class="container my-5 custom-border">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label" style="font-size: 25px;">電子郵件</label>
          <input name="email" type="email" class="form-control" id="email" placeholder="Email" />
          {% if error %}
              <div id="accountHelp" class="text-danger">{{ error }}</div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary" name="button" value="reset-password" id="resetPasswordBtn" disabled>重設密碼</button>
      </form>
      <script src="/forgot-password.js"></script>
  </body>
</html>
