<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/reset-password.css" />
    <title>重設密碼</title>
  </head>
  <body class="d-flex align-items-center justify-content-center flex-column">
    <!-- 新增回上一頁按鈕 -->
    <a href="/forgot-password" class="btn btn-secondary btn-square">回上一頁</a>
    <h1 class="mb-4">重設密碼</h1>
    <form action="/reset-password/{{reset_token}}" method="POST" class="mb-3 px-5 py-5" onsubmit="return validateForm()">
      <div class="container my-5 custom-border">
        <div class="mb-3">
          <label for="newPassword" class="form-label" style="font-size: 25px;">新密碼</label>
          <input name="new_password" type="password" class="form-control" id="newPassword" placeholder="密碼長度不得小於6,且包含一個英文字母" required />
        </div>
        <div class="mb-3">
          <label for="confirmNewPassword" class="form-label" style="font-size: 25px;">確認新密碼</label>
          <input name="confirm_new_password" type="password" class="form-control" id="confirmNewPassword" placeholder="Confirm New Password" required />
        </div>
        {% if error %}
            <div class="text-danger">{{ error }}</div>
        {% endif %}
        <button type="submit" class="btn" id="resetPasswordBtn" name="button" value="reset-password" disabled>確認重設密碼</button>
      </form>
      <script src="/reset-password.js"></script>
  </body>
</html>
