/* 新增背景 */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    /* 設為-1，使其在內容之後 */
}

/* 調整帳號和密碼外框線條 */
.form-control {
    border: 2px solid #333;
}

/* 調整外框 */
.custom-border {
    border: 5px solid black;
    padding: 50px;
    border-radius: 50px;
    background-color: rgba(255, 254, 254, 0.814);
    width: 500px;
    /* 修改為您想要的固定寬度 */
    height: 430px;
}

/* 設置按鈕登入 */
#login {
    background-color: rgb(40, 226, 40);
    color: white;
    /* 設置字體顏色為白色 */
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

#login:hover {
    background-color: rgba(34, 155, 34, 0.734);
    /* 碰觸時改變成深綠色 */
}

/* 調整建立會員按鈕 */
.btn-primary[name="button"][value="register"] {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

h1 {
    position: relative;
    top: 90px;
    /* 調整上邊距 */
}

#accountHelp {
    color: red;
}

.btn.btn-secondary {
    border-radius: 0;
}